<div class="all">

  <!-- <header>
    <div class="header__bg"></div>
    <h1 class="h1head">
      <img width="210px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="">
    </h1><h1 class="h1head">Dating App</h1>

  </header> -->

  <div class="container">

<div class="home">
  <h1>About Page</h1>
  <hr>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo aliquid et quisquam debitis eum animi, enim architecto repellat. Accusamus repellendus aliquid aut natus esse, porro ullam illo officia labore quis.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo aliquid et quisquam debitis eum animi, enim architecto repellat. Accusamus repellendus aliquid aut natus esse, porro ullam illo officia labore quis.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo aliquid et quisquam debitis eum animi, enim architecto repellat. Accusamus repellendus aliquid aut natus esse, porro ullam illo officia labore quis.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo aliquid et quisquam debitis eum animi, enim architecto repellat. Accusamus repellendus aliquid aut natus esse, porro ullam illo officia labore quis.</p>
</div>


<!--Test-->
  <div class="card-group vgr-cards">

    <div class="card">
      <div class="card-img-body">
      <img class="card-img" src="https://picsum.photos/500/230" alt="Card image cap">
      </div>
      <div class="card-body">
    <mat-card-header>
        <mat-card-title><h4 class="card-title">Card title</h4></mat-card-title>
        <mat-card-subtitle>Developper's Blog</mat-card-subtitle>
    </mat-card-header>
      <mat-card-content>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
          <hr>
        </mat-card-content>
      </div>
    </div>

      <div class="card">
        <div class="card-body">
      <mat-card-header>
          <mat-card-title><h4 class="card-title">Card title</h4></mat-card-title>
          <mat-card-subtitle>Developper's Blog</mat-card-subtitle>
      </mat-card-header>
        <mat-card-content>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
            <hr>
          </mat-card-content>
        </div>
        <div class="card-img-body">
          <img class="card-img" src="https://picsum.photos/450/250" alt="Card image cap">
          </div>
      </div>


        <div class="card">
          <div class="card-img-body">
          <img class="card-img" src="https://picsum.photos/500/250" alt="Card image cap">
          </div>
          <div class="card-body">
        <mat-card-header>
            <mat-card-title><h4 class="card-title">Card title</h4></mat-card-title>
            <mat-card-subtitle>Developper's Blog</mat-card-subtitle>
        </mat-card-header>
          <mat-card-content>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
              bit longer.</p>
              <hr>
            </mat-card-content>
          </div>
        </div>

          <div class="card">
            <div class="card-body">
          <mat-card-header>
              <mat-card-title><h4 class="card-title">Card title</h4></mat-card-title>
              <mat-card-subtitle>Developper's Blog</mat-card-subtitle>
          </mat-card-header>
            <mat-card-content>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
                bit longer.</p>
                <hr>
              </mat-card-content>
            </div>
            <div class="card-img-body">
              <img class="card-img" src="https://picsum.photos/450/240" alt="Card image cap">
              </div>
          </div>

  </div>

</div>

</div>

